

.App {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

body {
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
    font-family: Roboto;
    min-height: 85vh;
    background-color:#f1f1f1;
}

.fa-backspace {
    margin: auto;
    font-size: 3em;
    transition: 0.1s;
    color: #2b2b2b;
}

.fa-backspace:active {
    font-size: 2.5em;
}

.settings{
    position: absolute;
    height: 100%;
    width: 5%;
    right:0px;
    border: 0px;
    border-radius: 0px;
    background-color: #eeeeee;
}


#undersms {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.message {
    width: 55%;
    margin: auto;
}

.sender {
    display: flex;
    justify-content: flex-end;
}

.receiver {
    display: flex;
    justify-content: flex-start;
}

#textsmssender {
    border: solid 0.5px #666666;
    border-radius: 5px;
    background-color: #ffffee;
    width: 14em;
    text-align: initial;
    padding: 8px;
    overflow-wrap: break-word;
    min-height: 1em;
}

#textsmsreceiver {
    border: solid 0.5px #666666;
    border-radius: 5px;
    background-color: #ffffee;
    width: 14em;
    text-align: initial;
    padding: 8px;
    overflow-wrap: break-word;
    min-height: 1em;
}

.smsinput {
    margin-top: 6em;
    border-right: 135px;
    width: 60%;
    height: 9em;
    background: rgba(238, 238, 238, 0.17);
    font-family: Roboto;
    resize: none;
    border-radius: 5px;
    padding: 7px;
}

.cross2 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2em;
    transition: 0.1s;
}

.cross2:active {
    font-size: 1.5em;
}

.champbtn {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;

}

.load {
    animation: loader-spin infinite 5s linear;
    height: 80px;

}

.contactList {
    display: flex;
    flex-direction: column;
}

.contactLoader {
    width: 8%;
    margin: auto;
}

.cadrecontact {
    background: -webkit-linear-gradient(darkgrey, white);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto 1em auto;
}

.contactContainer {
    display: flex;
}

.nameContact {
    margin: auto 0 auto 25px;
}

.cadrecontact {
    background: -webkit-linear-gradient(darkgrey, white);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto 1em auto;
}

.contactDetailContainer {
    padding-top: 10px;
    color: #2b2b2bde;
}

.topDetailContainer {
    width: 97%;
    margin: 0 auto 28px;
    display: flex;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 5px;
}

.contactName {
    margin-left: 20px;
    font-size: 25px;
}

.otherDetail {
    width: 97%;
    margin: auto;
    font-size: 17px;
}

/*#history {
    margin-top: 65px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.historic_container {
    margin: 0 auto;
    width: 90%;
}

.oneHistoric {
    border: #999 solid 0.05em;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin-bottom: 1em;
    background-color: #ffffff47;
    justify-content: space-between;
}
*/

.configOption {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.colorsOption{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background: -webkit-linear-gradient(darkgrey, white);
}

.primaryColor{
    margin: 10px;
}

.secondaryColor{
    margin: 10px;
}

.windowOption{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background: -webkit-linear-gradient(darkgrey, white);
    margin-top: 30px;
}

.windowHeight{
    margin: 10px;
}

.windowWidth{
    margin: 10px;
}

.ongletLogin{
    display: flex;
    width: 32%;
    margin: auto;

}

.ul_footer{
    display: inline;
    list-style: none;
    margin-left:0;
    padding-left:0;
}

.ul_footer li{
    margin-left:15px;
}